<?xml version='1.1' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{jenkins_location_admin|default('')}}</adminAddress>
  <jenkinsUrl>{{jenkins_location_url|default('')}}</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
<jenkins.model.JenkinsLocationConfiguration />
